<div class="card">
    <p-table #dt1 [value]="alumnos" dataKey="id" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true"
        [globalFilterFields]="['nombre', 'email', 'curso', 'telefono', 'direccion', 'calificacionTotal']">


        <ng-template pTemplate="header">
            <tr>
                <th style="min-width:15rem">
                    Alumno
                    <p-columnFilter type="text" field="nombre" display="menu" />
                </th>
                <th style="min-width:15rem">
                    Email
                    <p-columnFilter type="text" field="email" display="menu" />
                </th>
                <th style="min-width:15rem">
                    Curso
                    <p-columnFilter type="text" field="curso" display="menu" />
                </th>
                <th style="min-width:10rem">
                    Teléfono
                    <p-columnFilter type="text" field="telefono" display="menu" />
                </th>
                <th style="min-width:10rem">
                    Dirección
                    <p-columnFilter type="text" field="direccion" display="menu" />
                </th>
                <th style="min-width:10rem">
                    Calificación
                    <p-columnFilter type="text" field="calificacionTotal" display="menu" />
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-alumno>
            <tr>
                <td>
                    <p-avatar label="{{ alumno.nombre.charAt(0)?.toUpperCase() }}"
                        styleClass="avatar" size="large" shape="circle" />
                    {{ alumno.nombre }} {{ alumno.apellido1 }} {{ alumno.apellido2 }}
                </td>
                <td>{{ alumno.email }}</td>
                <td>{{ alumno.curso }}</td>
                <td>{{ alumno.telefono }}</td>
                <td>{{ alumno.direccion }}</td>
                <td>{{ alumno.calificacionTotal }}</td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="6">No hay alumnos registrados.</td>
            </tr>
        </ng-template>
    </p-table>
</div>