<h2>Formulario de Criterios</h2>

<form (ngSubmit)="save()" [formGroup]="formCriterio">
    <div>
        <label for="descripcion">Descripción</label>
        <input type="text" formControlName="descripcion" id="descripcion">
        <div *ngIf="formCriterio.get('descripcion')?.touched && formCriterio.get('descripcion')?.invalid">
            <span *ngIf="formCriterio.get('descripcion')?.errors?.['required']">Este campo es obligatorio.</span>
        </div>
    </div>

    <div>
        <label for="puntuacionMinima">Puntuación mínima</label>
        <input type="text" formControlName="puntuacionMinima" id="puntuacionMinima">
        <div *ngIf="formCriterio.get('puntuacionMinima')?.errors?.['min']">
            La puntuación mínima no puede ser menor que 0.
        </div>
        <div *ngIf="formCriterio.get('puntuacionMinima')?.errors?.['max']">
            La puntuación mínima no puede ser mayor que 10.
        </div>
    </div>

    <div>
        <label for="puntuacionMaxima">Puntuación máxima</label>
        <input type="text" formControlName="puntuacionMaxima" id="puntuacionMaxima">
        <div *ngIf="formCriterio.get('puntuacionMaxima')?.errors?.['min']">
            La puntuación máxima no puede ser menor que 0.
        </div>
        <div *ngIf="formCriterio.get('puntuacionMaxima')?.errors?.['max']">
            La puntuación máxima no puede ser mayor que 10.
        </div>
    </div>

    <div>
        <span>Puntuación de tutor</span>
        <label>
            <input type="radio" id="puntuacionDeTutor" formControlName="puntuacionDeTutor" [value]="true">
            Sí
        </label>
        <label>
            <input type="radio" id="puntuacionDeTutor" formControlName="puntuacionDeTutor" [value]="false" checked>
            No
        </label>
    </div>

    <div>
        <label for="puntuacionObtenida">Puntuación obtenida</label>
        <input type="text" formControlName="puntuacionObtenida" id="puntuacionObtenida">
        <div *ngIf="formCriterio.get('puntuacionObtenida')?.errors?.['min']">
            La puntuación obtenida no puede ser menor que 0.
        </div>
        <div *ngIf="formCriterio.get('puntuacionObtenida')?.errors?.['max']">
            La puntuación obtenida no puede ser mayor que 10.
        </div>
    </div>

    <button type="submit" [disabled]="formCriterio.invalid">Guardar</button>
</form>