<h2>Formulario de Criterios</h2>

<form (ngSubmit)="save()" [formGroup]="formCriterio">
    <div>
        <label for="descripcion">Descripción</label>
        <input type="text" formControlName="descripcion" id="descripcion">
        <div *ngIf="formCriterio.get('descripcion')?.touched && formCriterio.get('descripcion')?.invalid">
            <span *ngIf="formCriterio.get('descripcion')?.errors?.['required']">Este campo es obligatorio.</span>
        </div>
    </div>

    <div>
        <label for="valoracionMaxima">Valoración máxima</label>
        <input type="text" formControlName="valoracionMaxima" id="valoracionMaxima">
        <div *ngIf="formCriterio.get('valoracionMaxima')?.errors?.['min']">
            La valoración máxima no puede ser menor que 0.
        </div>
        <div *ngIf="formCriterio.get('valoracionMaxima')?.errors?.['max']">
            La valoración máxima no puede ser mayor que 10.
        </div>
    </div>

    <div>
        <label for="valoracionMinima">Valoración mínima</label>
        <input type="text" formControlName="valoracionMinima" id="valoracionMinima">
        <div *ngIf="formCriterio.get('valoracionMinima')?.errors?.['min']">
            La valoración mínima no puede ser menor que 0.
        </div>
        <div *ngIf="formCriterio.get('valoracionMinima')?.errors?.['max']">
            La valoración mínima no puede ser mayor que 10.
        </div>
    </div>

    <div>
        <span>¿Valoración de tutor?</span>
        <label>
            <input type="radio" id="deTutor" formControlName="deTutor" [value]="true">
            Sí
        </label>
        <label>
            <input type="radio" id="deTutor" formControlName="deTutor" [value]="false" checked>
            No
        </label>
    </div>

    <button type="submit" [disabled]="formCriterio.invalid">Guardar</button>
</form>