<main class="container-fluid d-flex justify-content-center align-items-center min-vh-100">
    <div class="card w-100 position-relative z-3" style="max-width: 80%;">

        <form [formGroup]="profesorForm" (ngSubmit)="save()">
            <div *ngIf="!isEditMode" class="d-flex">
                <div class="flex-fill">
                    <div class="mb-3">
                        <label for="nombre" class="form-label text-secondary">Nombre</label>
                        <input id="nombre" class="form-control rounded-pill" formControlName="nombre" type="text"
                            required />
                        <small class="text-danger"
                            *ngIf="profesorForm.get('nombre')?.invalid && profesorForm.get('nombre')?.touched"
                            class="text-danger">
                            El nombre es obligatorio.
                        </small>
                    </div>

                    <div class="mb-3">
                        <label for="apellido1" class="form-label text-secondary">Primer apellido</label>
                        <input id="apellido1" class="form-control rounded-pill" formControlName="apellido1" type="text"
                            required />
                        <small *ngIf="profesorForm.get('apellido1')?.invalid && profesorForm.get('apellido1')?.touched"
                            class="text-danger">
                            El primer apellido es obligatorio.
                        </small>
                    </div>

                    <div class="mb-3">
                        <label for="apellido2" class="form-label text-secondary">Segundo apellido</label>
                        <input id="apellido2" class="form-control rounded-pill" formControlName="apellido2" type="text"
                            required />
                        <small *ngIf="profesorForm.get('apellido2')?.invalid && profesorForm.get('apellido2')?.touched"
                            class="text-danger">
                            El segundo apellido es obligatorio.
                        </small>
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label text-secondary">Correo electrónico</label>
                        <input id="email" class="form-control rounded-pill" formControlName="email" type="email"
                            required />
                        <small *ngIf="profesorForm.get('email')?.invalid && profesorForm.get('email')?.touched"
                            class="text-danger">
                            El correo electrónico es obligatorio y debe ser válido.
                        </small>
                    </div>

                    <div class="mb-3">
                        <label class="form-label text-secondary" for="foto">Foto</label>
                        <input class="form-control rounded-pill" id="foto" formControlName="foto" type="text" />
                    </div>
                </div>

                <div class="flex-fill">
                    <div class="mb-3">
                        <label class="form-label text-secondary" for="telefono">Teléfono</label>
                        <input class="form-control rounded-pill" id="telefono" formControlName="telefono" type="text" />
                        <small *ngIf="profesorForm.get('telefono')?.invalid && profesorForm.get('telefono')?.touched"
                            class="text-danger">
                            El teléfono debe ser un número válido.
                        </small>
                    </div>

                    <div class="mb-3">
                        <label class="form-label text-secondary" for="direccion">Dirección</label>
                        <input class="form-control rounded-pill" id="direccion" formControlName="direccion"
                            type="text" />
                    </div>

                    <div *ngIf="!isEditMode" class="mb-3">
                        <label class="form-label text-secondary" for="username">Nombre de usuario</label>
                        <input class="form-control rounded-pill" id="username" formControlName="username" type="text"
                            required />
                        <small *ngIf="profesorForm.get('username')?.invalid && profesorForm.get('username')?.touched"
                            class="text-danger">
                            El nombre de usuario es obligatorio.
                        </small>
                    </div>

                    <div *ngIf="!isEditMode" class="mb-3">
                        <label class="form-label text-secondary" for="password">Contraseña</label>
                        <input class="form-control rounded-pill" id="password" formControlName="password"
                            type="password" required />
                        <small *ngIf="profesorForm.get('password')?.invalid && profesorForm.get('password')?.touched"
                            class="text-danger">
                            La contraseña es obligatoria (mínimo 8 caracteres).
                        </small>
                    </div>

                    <div *ngIf="!isEditMode" class="mb-3">
                        <label class="form-label text-secondary" for="passconfirm">Confirmar Contraseña</label>
                        <input class="form-control rounded-pill" id="passconfirm" formControlName="passconfirm"
                            type="password" required />
                        <div *ngIf="profesorForm.get('passconfirm')?.invalid && profesorForm.get('passconfirm')?.touched"
                            class="text-danger">
                            La confirmación de la contraseña es obligatoria.
                        </div>
                        <small *ngIf="profesorForm.hasError('passNoCoinciden')" class="text-danger">
                            Las contraseñas no coinciden.
                        </small>
                    </div>
                </div>
            </div>



            <div *ngIf="isEditMode" class="d-flex mx-5">
                <div class="flex-fill">
                    <div class="mb-3">
                        <label for="nombre" class="form-label text-secondary">Nombre</label>
                        <input id="nombre" class="form-control rounded-pill" formControlName="nombre" type="text"
                            required />
                        <small class="text-danger"
                            *ngIf="profesorForm.get('nombre')?.invalid && profesorForm.get('nombre')?.touched"
                            class="text-danger">
                            El nombre es obligatorio.
                        </small>
                    </div>

                    <div class="mb-3">
                        <label for="apellido1" class="form-label text-secondary">Primer apellido</label>
                        <input id="apellido1" class="form-control rounded-pill" formControlName="apellido1" type="text"
                            required />
                        <small *ngIf="profesorForm.get('apellido1')?.invalid && profesorForm.get('apellido1')?.touched"
                            class="text-danger">
                            El primer apellido es obligatorio.
                        </small>
                    </div>

                    <div class="mb-3">
                        <label for="apellido2" class="form-label text-secondary">Segundo apellido</label>
                        <input id="apellido2" class="form-control rounded-pill" formControlName="apellido2" type="text"
                            required />
                        <small *ngIf="profesorForm.get('apellido2')?.invalid && profesorForm.get('apellido2')?.touched"
                            class="text-danger">
                            El segundo apellido es obligatorio.
                        </small>
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label text-secondary">Correo electrónico</label>
                        <input id="email" class="form-control rounded-pill" formControlName="email" type="email"
                            required />
                        <small *ngIf="profesorForm.get('email')?.invalid && profesorForm.get('email')?.touched"
                            class="text-danger">
                            El correo electrónico es obligatorio y debe ser válido.
                        </small>
                    </div>
                </div>

                <div class="flex-fill">
                    <div class="mb-3">
                        <label class="form-label text-secondary" for="foto">Foto</label>
                        <input class="form-control rounded-pill" id="foto" formControlName="foto" type="text" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label text-secondary" for="telefono">Teléfono</label>
                        <input class="form-control rounded-pill" id="telefono" formControlName="telefono" type="text" />
                        <small *ngIf="profesorForm.get('telefono')?.invalid && profesorForm.get('telefono')?.touched"
                            class="text-danger">
                            El teléfono debe ser un número válido.
                        </small>
                    </div>

                    <div class="mb-3">
                        <label class="form-label text-secondary" for="direccion">Dirección</label>
                        <input class="form-control rounded-pill" id="direccion" formControlName="direccion"
                            type="text" />
                    </div>
                </div>
            </div>



            <button type="submit" class="btn btn-primary w-100 py-3 mt-3 rounded-pill boton"
                [disabled]="profesorForm.invalid">GUARDAR</button>
        </form>
    </div>
</main>