.card {
  background: #f8f9fd;
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: rgba(133, 189, 215, 0.9) 0px 30px 30px -20px;
}  

.d-flex {
      gap: 200px;
}

::placeholder {
  font-size: clamp(0.85rem, 1vw, 1rem);
  color: gray;
  font-weight: 200;

}

label {
  font-weight: 600;
  letter-spacing: 0.65px;
}

.boton {
  font-weight: 600;
  font-size: clamp(1rem, 2vw, 1.2rem);
  letter-spacing: 1px;
}