<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500&display=swap" rel="stylesheet">

<nav class="navbar nav navbar-expand-lg z-3" *ngIf="hayToken">
    <div class="container-fluid">
        <img src="logo.png" class="d-block d-lg-none" width="10%" />
        <img src="logo.png" class="d-none d-lg-block" width="4%" />

        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation"
            style="outline: none; box-shadow: none;">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarText">
            <div class="menu menu-avatar d-block d-lg-none">
                <div class="item">
                    <a class="link cursor-pointer">
                        <p-avatar label="{{ primeraLetra }}" styleClass="mr-2 cursor-pointer" size="large"
                            shape="circle" (click)="menu.toggle($event)" />
                    </a>
                    <div class="submenu submenu-avatar-movil">
                        <div class="submenu-item">
                            <a (click)="editarDatos()" class="submenu-link cursor-pointer"><i class="pi pi-user"
                                    style="margin-right: 10px;"></i>Editar</a>
                        </div>
                        <div class="submenu-item" style="padding-bottom: 10px;">
                            <a (click)="logout()" class="submenu-link cursor-pointer" style="color:tomato;"><i
                                    class="pi pi-sign-out" style="margin-right: 10px;"></i>Cerrar sesión</a>
                        </div>
                    </div>
                </div>
            </div>

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li>
                    <div class="menu">
                        <div class="item">
                            <a class="link">
                                <span routerLink="/" class="nav1 cursor-pointer">INICIO</span>
                            </a>
                        </div>
                    </div>
                </li>
                <li *ngIf="rol == 'PROFESOR'">
                    <div class="menu">
                        <div class="item">
                            <a class="link cursor-pointer">
                                <span class="nav1">ALUMNOS</span>
                                <svg viewBox="0 0 360 360" xml:space="preserve">
                                    <g id="SVGRepo_iconCarrier">
                                        <path id="XMLID_225_"
                                            d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393 c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393 s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z">
                                        </path>
                                    </g>
                                </svg>
                            </a>
                            <div class="submenu">
                                <div class="submenu-item">
                                    <a routerLink="/alumnos" class="submenu-link">Alumnos</a>
                                </div>
                                <div class="submenu-item">
                                    <a routerLink="/alumnos/misalumnos" class="submenu-link">Mis alumnos</a>
                                </div>
                                <div class="submenu-item" style="padding-bottom: 12px;">
                                    <a routerLink="/alumno/registro" class="submenu-link">Registrar alumno</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li *ngIf="rol == 'PROFESOR'">
                    <div class="menu">
                        <div class="item">
                            <a class="link cursor-pointer">
                                <span class="nav1">TRIBUNALES</span>
                                <svg viewBox="0 0 360 360" xml:space="preserve">
                                    <g id="SVGRepo_iconCarrier">
                                        <path id="XMLID_225_"
                                            d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393 c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393 s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z">
                                        </path>
                                    </g>
                                </svg>
                            </a>
                            <div class="submenu">
                                <div class="submenu-item">
                                    <a routerLink="/tribunales/asignados" class="submenu-link">Mis tribunales</a>
                                </div>
                                <div class="submenu-item" style="padding-bottom: 10px;">
                                    <a routerLink="/tribunal/nuevo" class="submenu-link">Crear tribunal</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" *ngIf="rol == 'ADMINISTRADOR'"
                        routerLink="/profesores">PROFESORES</a>
                </li>
            </ul>

            <div class="menu menu-avatar d-none d-lg-block">
                <div class="item">
                    <a class="link cursor-pointer">
                        <p-avatar label="{{ primeraLetra }}" styleClass="mr-2 cursor-pointer" size="large"
                            shape="circle" (click)="menu.toggle($event)" />
                    </a>
                    <div class="submenu submenu-avatar">
                        <div class="submenu-item">
                            <a (click)="editarDatos()" class="submenu-link cursor-pointer"><i class="pi pi-user"
                                    style="margin-right: 10px;"></i>Editar</a>
                        </div>
                        <div class="submenu-item" style="padding-bottom: 10px;">
                            <a (click)="logout()" class="submenu-link cursor-pointer" style="color:tomato;"><i
                                    class="pi pi-sign-out" style="margin-right: 10px;"></i>Cerrar sesión</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</nav>