.nav {
  box-shadow: rgba(133, 189, 215, 0.9) 0px 30px 30px -30px;
  background-color: rgba(99, 172, 205, 0.92);
  top: 0;
}

:root {
  color-scheme: light;
}

.nav1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.cursor-pointer {
  cursor: pointer !important;
}

.menu {
  color: #fff;
  width: fit-content;
  display: flex;
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: inherit;
}

.menu .link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 12px 36px;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu .link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu .link svg {
  width: 14px;
  height: 14px;
  fill: #fff;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu .item {
  position: relative;
}

.menu .item .submenu {
  display: flex;
  flex-direction: column;
  align-items: left;
  position: absolute;
  border-radius: 7px;
  left: 0;
  width: 100%;
  overflow: hidden;
  border: 1px solid gray;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-12px);
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 1;
  pointer-events: none;
  list-style: none;
  background-color: #fff;
}

.menu .item:hover .submenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
  border-color: rgb(209, 209, 209);
}

.menu .item:hover .link {
  color: #fff;
  border-radius: 7px;
}

.menu .item:hover .link::after {
  transform: scaleX(1);
  transform-origin: right;
}

.menu .item:hover .link svg {
  fill: #fff;
  transform: rotate(-180deg);
}

.submenu .submenu-link {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 15px;
  display: block;
  padding: 10px 24px 0px 24px;
  width: 100%;
  position: relative;
  text-align: left;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  color: #000;
}

.submenu .submenu-item .submenu-link {
  border-bottom: none;
}

.submenu .submenu-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  width: 100%;
  height: 100%;
  z-index: -1;
  transform-origin: left;
  transition: transform 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.submenu .submenu-link:hover:before {
  transform: scaleX(1);
  transform-origin: right;
}

.submenu .submenu-link:hover {
  color: gray;
}


.submenu-avatar {
  min-width: 200px;
  right: 0;
  left: auto !important;
  top: 100%;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-avatar .item {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 15px;
  position: relative;
  display: flex;
  justify-content: flex-end;
}