<nav class="navbar nav navbar-expand-lg bg-white z-2" *ngIf="hayToken">
    <div class="container-fluid">
        <img src="logo.png" width="4%" />


        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/">INICIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" *ngIf="rol == 'PROFESOR'"
                        routerLink="/alumnos">ALUMNOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" *ngIf="rol == 'ADMINISTRADOR'"
                        routerLink="/profesores">PROFESORES</a>
                </li>
            </ul>
            <p-avatar label="{{ primeraLetra }}" styleClass="mr-2 cursor-pointer" size="large" shape="circle"
                (click)="menu.toggle($event)"/>

            <p-menu #menu [popup]="true" [model]="items"/>
        </div>
    </div>
</nav>