<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap" rel="stylesheet" />
<p-toast position="top-center"></p-toast>

<main style="background-image: url('actor/fondo.jpg');"
    class="container-fluid d-flex justify-content-center align-items-center min-vh-100 z-0 py-5">
    <div class="position-fixed top-0 start-0 w-100 h-100 bg-dark bg-opacity-50 z-1"></div>

    <div class="card z-2 w-75">
        <div>
            <h2 class="text-center titulo mb-4 z-2">Mis alumnos</h2>
            <p-table #dt1 [value]="alumnos" dataKey="id" [rows]="10" [paginator]="true"
                [globalFilterFields]="['nombre', 'email', 'curso', 'telefono', 'direccion', 'calificacionTotal']">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width:15rem" class="fuenteTh">
                            Alumno
                            <p-columnFilter type="text" field="nombre" display="menu"></p-columnFilter>
                        </th>
                        <th style="min-width:15rem" class="fuenteTh">
                            Email
                            <p-columnFilter type="text" field="email" display="menu"></p-columnFilter>
                        </th>
                        <th style="min-width:10rem" class="fuenteTh">
                            Curso
                            <p-columnFilter type="text" field="curso" display="menu"></p-columnFilter>
                        </th>
                        <th style="min-width:10rem" class="fuenteTh">
                            Teléfono
                            <p-columnFilter type="text" field="telefono" display="menu"></p-columnFilter>
                        </th>
                        <th style="min-width:10rem" class="fuenteTh">
                            Dirección
                            <p-columnFilter type="text" field="direccion" display="menu"></p-columnFilter>
                        </th>
                        <th style="min-width:13rem" class="fuenteTh">
                            Calificación
                            <p-columnFilter type="text" field="calificacionTotal" display="menu"></p-columnFilter>
                        </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-alumno>
                    <tr>
                        <td class="fuenteTr d-flex align-items-center">
                            <p-avatar *ngIf="!alumno.foto" label="{{ alumno.nombre.charAt(0)?.toUpperCase() }}"
                                styleClass="avatar" size="large" shape="circle"></p-avatar>
                            <p-avatar *ngIf="alumno.foto" [image]="alumno.foto" styleClass="avatar" size="large"
                                shape="circle"></p-avatar>
                            {{ alumno.nombre }} {{ alumno.apellido1 }} {{ alumno.apellido2 }}
                        </td>
                        <td class="fuenteTr">{{ alumno.email }}</td>
                        <td class="fuenteTr">
                            <p-tag *ngIf="alumno.curso == 'AFI'" [value]="alumno.curso" severity="secondary"></p-tag>
                            <p-tag *ngIf="alumno.curso == 'DAW'" [value]="alumno.curso" severity="info"></p-tag>
                            <p-tag *ngIf="alumno.curso == 'ASIR'" [value]="alumno.curso" severity="warn"></p-tag>
                        </td>
                        <td class="fuenteTr">
                            {{ alumno.telefono }} <span *ngIf="!alumno.telefono">No introducido</span>
                        </td>
                        <td class="fuenteTr">
                            {{ alumno.direccion }} <span *ngIf="!alumno.direccion">No introducida</span>
                        </td>
                        <td style="text-align: center" class="fuenteTr">
                            <div *ngIf="alumno.calificacionTotal">
                                <p-tag [value]="(alumno.calificacionTotal | number:'1.2-2') ?? ''"
                                    [severity]="aprobado(alumno.calificacionTotal) ? 'success' : 'danger'">
                                </p-tag>
                            </div>
                            <span *ngIf="!alumno.calificacionTotal">
                                No calificado
                            </span>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="7" class="fuenteTr">No tienes alumnos asignados.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</main>